.reveal ul {
    display: block;
    padding-left: 75px;
    font-size: 80%
}
.reveal ul li {
    line-height: 2;
}
.reveal ul ul, .reveal ul ul ul{
    padding-left: 0px;
    font-size: 100%
}
.reveal span {
    font-size: 80%
}
.reveal .slides p {
    text-align: left;
    padding-right: 75px;
    padding-left: 75px;
}
.reveal .slides div div {
    text-align: left;
    font-size: 70%;
    line-height: 1.5;
}
.reveal section img {
  border: 0;
  box-shadow: none;
}